{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "settings": { "react": { "version": "detect" } },
  // TODO: Add next eslint plugin when stable https://github.com/vercel/next.js/discussions/24900
  "plugins": ["@typescript-eslint", "jsx-a11y", "prettier"],
  "extends": [
    "eslint:recommended", // Defined here: https://github.com/eslint/eslint/blob/master/conf/eslint-recommended.js
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  // https://eslint.org/docs/user-guide/configuring/language-options#specifying-environments
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off"
  }
}
